body {
  background-color: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

.TaskList-container {
  width: 720px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.TaskList-wrapper {
  margin: 20px 50px;
}

.TaskList-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TaskList-title h2 {
  font-weight: 700;
  font-size: 36px;
  color: #0a1629;
}

.TaskList-title button {
  background-color: #713fff;
  border: none;
  padding: 13px 30px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(113, 63, 255, 0.25);
}
